.overlay-active {
  animation: fade-in 300ms forwards;
}

.overlay-hidden {
  animation: fade-out 300ms forwards;
}

.transition-prevent {
  @apply transition-none #{!important};
}

// .....Mobile

[aria-expanded="true"] {
  @apply text-green;

  svg {
    @apply rotate-180;
  }
}

// .....Desktop

.link-hover {
  @apply hover:text-green transition duration-300;
}

.parent-link:hover {
  .children-wrapper {
    transform: scale(1);
  }

  .children {
    opacity: 1;
    transition-delay: 150ms;
  }

  .chevron {
    rotate: 180deg;
  }
}

.parent-link {
  .children-wrapper {
    transform: scale(0);
  }

  .children {
    opacity: 0;
  }

  .chevron {
    rotate: 0;
  }
}
