.overlay-active {
  animation: fade-in 300ms forwards;
}

.overlay-hidden {
  animation: fade-out 300ms forwards;
}

.transition-prevent {
  @apply transition-none #{!important};
}

// .....Mobile

[aria-expanded="true"] {
  @apply text-green;

  svg {
    @apply rotate-180;
  }
}

// .....Desktop

@keyframes increase {
  0% {
    width: 0;
    height: 0;
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes decrease {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.link-hover {
  @apply hover:text-green transition duration-300;
}

div.active {
  animation: increase 0.3s forwards;
}

div.no-active {
  animation: decrease 0.3s forwards;
}
